.container {
  background-color: #f3f3f3;
  text-align: center;

  height: 100vh;
  width: 100vw;

  font-size: calc(10px + 2vmin);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.site-card-border-less-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
